.dropdowns-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 20px; /* Add padding for better spacing inside the container */
  border-radius: 35px; /* Optional: Add border-radius for rounded corners */
  background-color: #fff1dd; /* Optional: Add a background color */
}

.dropdown-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.dropdown-label {
  margin-bottom: 5px;
}

.dropdown-wrapper {
  display: flex;
  align-items: center;
  position: relative; /* For positioning the arrow */
}

.dropdown-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 30px 8px 10px; /* Adjusted padding to make room for the arrow */
  flex-grow: 1;
  background-color: white;
  border: 1px solid black;
  border-radius: 0; /* Sharp edges */
  cursor: pointer;
  box-sizing: border-box;
  width: 100%; /* Ensure the select takes up full width */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  color: black; /* Ensure text is black */
}

.clear-button {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #fff1dd;
  border: none;
  border-radius: 3px;
  color: rgb(53, 53, 53);
}
