.viewer-wrapper {
  width: 100%;
  position: relative;
}

.circle-container {
  position: relative;
  margin: 0 auto;
}

.team {
  position: absolute;
  transform: translate(-50%, -50%); /* Center the teams */
  text-align: center;
}

.team-logo {
  /* Remove fixed width and height, will be set dynamically */
}

.team-name {
  display: block;
  margin-top: 2px;
  font-size: 12px; /* Decrease the text size */
}

.arrows {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Make sure SVG does not interfere with interactions */
}

.greater-than {
  fill: black;
  text-anchor: middle;
  dominant-baseline: middle;
}

.game-info {
  fill: black;
  text-anchor: middle;
}

.upper-message {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: black;
  text-align: center;
}

.lower-message {
  position: absolute;
  bottom: 42%; /* Adjust this value to position the elements vertically */
  left: 50%;
  transform: translateX(-50%);
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center;
}

.lower-logo {
  width: 50px; /* Adjust the size of the logo */
  height: auto;
  margin-right: 10px; /* Space between logo and text */
}

.lower-text {
  font-size: 18px;
  color: black;
}
